<div>
    <div id="wraper">
        <div class="wraperinner container">
            <form class="wrap-form form-horizontal">
                <div class="form-group">
                    <label for="name" class="col-md-2 control-label">姓名：</label>
                    <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="what's your name"></div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-md-2 control-label">邮箱：</label>
                    <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="what's your email"></div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-md-2 control-label">联系方式：</label>
                    <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="what's your QQ"></div>
                </div>
            </form>
        </div>
        <div class="wraperinner">
            <form action="">form2</form>
        </div>
        <div class="wraperinner">
            <form action="">form3</form>
        </div>
        <div class="wraperinner">
            <form action="">form4</form>
        </div>
    </div>
    <span class="glyphicon glyphicon-triangle-bottom next_cover" aria-hidden="true" id="nextTrigger"></span>
</div>
