<div>
    <div id="wraper">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="name" class="col-md-1 control-label">姓名：</label>
                <div class="col-md-6">
                <input type="text" class="form-control" placeholder="what's your name"></div>
            </div>
        </form>
        <form action="">form*2</form>
        <form action="">form*3</form>
        <form action="">form*4</form>
    </div>
    <span class="glyphicon glyphicon-triangle-bottom next_cover" aria-hidden="true" id="nextTrigger"></span>
</div>
